
*{
  box-sizing: border-box; 
 }

html,
body {
  width: 100%;
  height: 100%;
}

html{
  font-size: 112.5%; /*18px*/
}

body{
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  color: var(--primary-color);
}

h2 {
  font-size: 2.441rem;
  color: var(--primary-color);
  text-align: center;
}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small{
  font-size: 0.8rem;
}

.navbar {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  
}

.navbar__logo {
  max-width: 6%;
  /* flex: 1; */
  padding: 0.5rem;
  
}

.navbar__search {
  flex: 2;
  max-width: var(--body-width);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar__search input,
.button {
  border: 0.2rem solid var(--primary-color);
  border-radius: 9999px;
  padding: var(--s-width) var(--m-width);
  border-color: var(--primary-color);
  background-color: transparent ;
  font-family: var(--body-font), var(--icon-font) ;
}

.button{
  cursor: pointer;
}

.content__title{
  text-align: center;
  margin: var(--l-width) auto;
}

.grey__section{
  background-color: var(--bk-color);
}
.img_section{
  max-width: var(--body-width);
  margin: var(--l-width) auto;
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns:  200px 200px 200px 200px 200px 200px;
  column-gap: var(--m-width);
  row-gap: var(--s-width);
}

.grid__text1{
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  color: var(--primary-color);
  margin:0
}

.grid__text2{
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  color: var(--primary-color);
  margin:0
}

.img_section_k2{
  grid-row: 1 / 2;
  grid-column: 5 / 7;
}
.img_section_kanchenjunga{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.img_section_makalu{
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.img_section_lhotse{
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}


.img_section_cho-oyu{
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.img_section_everest{
  grid-row: 1 / 3;
  grid-column: 4 / 5;
}

.img_section_annapurna{
  grid-row: 2 / 3;
  grid-column: 6 / 7;
}

.img_section_dhaulagiri{
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}
.img_section_manaslu{
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}

.img_section_nanga_parbat{
  grid-row: 3 / 4;
  grid-column: 5 / 6;
}

.img_section_nanga_gasherbrum{
  grid-row: 3 / 4;
  grid-column: 6 / 7;
}

